<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="card">
        <div class="card-body">
            First name:
            <input class="form-control" formControlName=firstname required [ngClass]="{
              'is-invalid': submitted && form.controls.firstname.errors}" (keydown)="$event.code != 'Space'" />
            <div *ngIf="form.controls.firstname.errors" class="invalid-feedback">
                <div *ngIf="form.controls.firstname.errors.required">
                    First name is required
                </div>
            </div>
            Last name:
            <input matInput class="form-control" formControlName=lastname required [ngClass]="{
              'is-invalid': submitted && form.controls.lastname.errors}" (keydown)="$event.code != 'Space'" />
            <div *ngIf="form.controls.lastname.errors" class="invalid-feedback">
                <div *ngIf="form.controls.lastname.errors.required">
                    Last name is required
                </div>
            </div>
            <br />
            <button class="btn btn-outline-success btn-block" type="submit">Save</button>
            <br />
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <p>Count = {{count}} / {{formArray.length}}</p>
            <ul>
                <li *ngFor="let user of formArray.controls; let i = index" [class.selected]="user.value.isCheck"
                    (click)="actionAt(user)">
                   {{i+1}}. {{ user.value.name }}
                </li>
            </ul>
        </div>
    </div>
</form>